* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  font-family: Georgia, 'Times New Roman', Times, serif;

  scroll-behavior: smooth !important;

  list-style: none;
}



body {
  background-color: #0a192f;
}


header {
  width: 90vw;
  height: 10vh;
  margin-top: 30px;
}

header h2 {
  margin-left: 30px;
  color: rgba(255, 217, 0, 0.863);
  border: 2px solid rgba(255, 217, 0, 0.985);
  width: fit-content;
  padding: 20px;
  border-radius: 50%;
  text-transform: capitalize;
  border-right: transparent;
  border-top: transparent;
  cursor: pointer;

  margin-top: -30px;
}

.containernav {

  padding: 20px;

}

.front {
  width: 50vw;
  height: 5vh;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.front ul {

  display: flex;
  flex-direction: row;
  right: 0;
  position: absolute;

}


.front ul li a {
  font-size: 1.2em;
  color: #ccd6f6 !important;
  margin-left: 40px;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  border: 2px solid #64ffda;
  border-radius: 15px;
  padding: 5px 20px;
  border-color: rgba(0, 255, 255, 0.595);
  box-shadow: 0 0 3px rgba(0, 255, 255, 0.595);
  position: relative;
  display: inline-block;
  margin-right: 40px;


}


.front ul li a::after {
  content: "";
  width: 0;
  background: #ebe9e9;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: all 0.5s ease;

}

.sms:hover::after {

  width: 100%;
}


.front ul li a:hover {
  color: rgba(0, 255, 255, 0.786);
}

.front ul li a:active {
  color: red;
}





nav {

  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-right: 80px;
  font-family: 'Oswald', sans-serif;
  max-width: 70vw;
  text-align: center;

}

nav img {
  position: absolute;
  width: 4vw;
  bottom: -10px;
  cursor: pointer;
  top: -7px;
  right: -18px;
  display: none;

}

nav ul {
  background-image: linear-gradient(to right top, #745567, #6b4e67, #604867, #534367, #423f67, #36456f, #254c75, #045279, #006483, #00758a, #24868e, #439690);
  position: fixed;
  top: 0;
  right: -400px;
  height: 100vh;
  width: 400px;
  padding-top: 150px;
  transition: right 0.5s ease;
  z-index: 5;

}

nav ul li {

  display: block;
  margin: 5px;
  margin-top: 100px;



}

nav ul li a {

  font-size: 1.2em;
  color: #ccd6f6;
  margin-left: 40px;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  border: 2px solid #64ffda;
  border-radius: 15px;
  padding: 5px 20px;
  border-color: rgba(0, 255, 255, 0.595);
  box-shadow: 0 0 3px rgba(0, 255, 255, 0.595);
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  background: #ebe9e9;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: all 0.5s ease;

}

nav ul li a:hover::after {

  width: 100%;
}


nav ul li a:hover {
  color: rgba(0, 255, 255, 0.786);
}

nav ul li a:active {
  color: red;
}

nav ul .close {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  font-size: 40px;
  font-weight: 500px;

}


/* the main section */

main {

  margin-left: 20%;
  margin-right: 20%;
  max-width: 80vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  color: #8892b0;
  line-height: 90px;
  letter-spacing: 0.1rem;
  margin-top: 200px;
  margin-bottom: 200px;
  font-size: 2em;
}


main .name {

  color: #ccd6f6;
  font-size: 2.5em;
}

main h1 {
  font-size: 2.5em;


}

main h6 {
  color: #64ffda;
  letter-spacing: 0.1rem;

}

main b {
  color: #64ffda;



}

main h5 {

  font-size: 0.5em;

}


.about-me {

  width: 70%;
  height: 50vh;
  margin-left: 20%;
  margin-right: 20%;
  font-size: large;
  color: #8892b0;
  line-height: 30px;
  margin-bottom: 300px;
}

.about-me .small {
  position: relative;
  color: transparent;
  border: 1px solid #8892b0;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  bottom: 10px;
}

.about-me video {


  width: 60vw;
}

.about-me p {
  font-size: 1em;
  color: #8892b0;
  line-height: 30px;
  text-align: left;


}

footer {
  height: 150vh;
  color: #ccd6fb;
  text-align: center;
}

footer h1 {

  background-color: #73928b;
  border: 1px solid #73928b;
  border-radius: 5px;
  text-transform: capitalize;
}







.change a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  align-items: right;
  width: 30vw;
  border: 2px solid red;

}

.change {
  position: absolute;
  top: 100px;
  right: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}





section.ok {
  background-color: #555;
}

p {
  color: white;
  font-family: arial;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* .scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid white;
  border-width: 0px 0 2px 2px;
} */

@keyframes bounce {

  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.black-screen {
  background: black;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 50vw;
  border-radius: 10px;
  display: none;
  right: 0;

}





footer h1 {

  width: fit-content;
  height: 3%;
  padding: 20px 40px 50px;
  cursor: pointer;
  background-color: #0c3a2f;
  color: #ccd6f6;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#my {

  height: 50vh;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 100px;

}





/* contact me */


form {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
}

label {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  color: #64ffda
}

input,
textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 10px;
}





.collectionOfWork {

  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));

  grid-gap: 80px;

  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;



}


.collectionOfWork .div {

  border-radius: 15px;
  display: grid;
  overflow: hidden;
  width: 30vw;


}



.collectionOfWork .div img {

  width: 100%;
  border-radius: 15px;
  display: block;
  cursor: pointer;
  height: 35vh;
  transition: all 1s ease !important;


}

.collectionOfWork .div img:hover {

  transform: translateY(-20px);
}


.collectionOfWork .div:hover {

  background-color: #64ffdb43;
  transition: all 1s ease !important;

}

.inner {
  text-align: left;
  text-transform: capitalize;
  line-height: 25px;
}

.div a {

  color: #64ffda;


}


.my-skills {

  margin-top: 200px;
  text-align: center;

}

.my-skills h1 {
  width: 300px;
  padding-top: 50px;
}

.nav .burger-menu {
  display: none;
  position: fixed;
  top: 50px;
  right: 50px;
  width: 30px;

}


.my-skills {
  margin-top: 200px;
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.519);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(51, 128, 138, 0.3);
  overflow: hidden;
  min-height: 100px;



}

.my-skills .final {
  margin-top: 50px;

}

.my-skills .final p {

  line-height: 2em;
  font-size: 2em;
  text-align: left;
  padding-top: 20px;
  text-indent: 40px;
}

.final span {

  color: red;
  font-size: 50px;
  display: inline-block;


}

/* toggle tabs added */

.toggle {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 80vw;
  height: 80vh;
  overflow: hidden;
}
.alltabs{

display:inline-block;

}

.toggle button {


  box-shadow: inset 0px 1px 0px 0px #a6827e;
  background: linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
  background-color: #7d5d3b;
  border-radius: 10px;
  border: 1px solid #54381e;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 50px;
  margin-right: auto;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #4d3534;
  margin-top: 50px;
  font-size: 2em;
  text-transform: capitalize;
  overflow: hidden;

}

.toggle button:hover {
  background: linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
  background-color: #634b30;



}

.toggle button:active {
  position: relative;
  top: 1px;
  color: red;
}

.fun-facts {

  position: absolute;
  margin-top:70px;
  margin-left: auto;
  margin-right: auto;
  width:fit-content;
  left:0;
  right:0;
  opacity: 0;
  transition: all 01s ease;

}




.fun-facts ul li {
  font-size: 24px;
  text-align: left;
  line-height: 60px;
  width: fit-content;
  text-transform: capitalize;
}

.fun-facts ul li::before {
  counter-increment: plusone;
  content: counter(plusone);
  background-color: hotpink;
  border-radius: 5px;
  font-size: 1.em;
  margin: 6px;
  padding: 3px 8px;
  color: black;


}



.actives {

  opacity: 1 !important;

}

@media (max-width:1000px) {

  .fun-facts ul li {

    font-size: 15px;
    position: relative;
  }

  .toggle button {

    font-size: 1.5em;

  }


}


@media (max-width:780px) {

  /* .toggle  {

height: 170vh;

} */

  .toggle button {

    font-size: 1em;

  }


  .fun-facts ul li {


    font-size: 15px;
  }




}

@media(max-width:500px) {


  .alltabs{

    display:flex;
    flex-direction: column;
  }

  .fun-facts ul li {

    line-height:20px;
    font-size: 10px;
  }
  .toggle{
height: 120vh;
  }
.toggle h1{

font-size: 20px;

}


}

.design {


  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #555;
  height: 10vh;
  margin-top: 100px;
  font-size: 2em;
  border-top: 5px solid rgb(255, 255, 255);
  border-radius: 20px;
  margin-right: 10%;
  margin-left: 10%;
  overflow: hidden;
}



/* css for small .black-screen */
@media (max-width:900px) {
  .collectionOfWork {
    display: grid;

    grid-template-columns: repeat(1, minmax(250px, 1fr));


  }


  .collectionOfWork .div {

    width: 60vw;


  }


  .front {
    display: none;

  }

  .burger-menu {
    display: block !important;

  }


}







@media (max-width:1200px) {

  main {

    font-size: 1em;
    line-height: 50px;

  }


}



@media (max-width:1000px) {

  .my-skills {

    font-size: 0.5em;

  }

  .final span {
    font-size: 3em;


  }


}


@media (max-width:400px) {


  .design p {

    font-size: 0.5em;

  }



  .final span {
    font-size: 2em;


  }

}